.breadcrumb {
	font-size: 12px;
}

.product-big-image {
	height: 500px;
}

.radio:hover {
	border: 1px solid #00bff6 !important;
}

.seller {
	border-bottom: 1px dashed #999;
}

.product-Options li {
	color: #55565a;
	font-size: 14px;
	text-align: center;
	margin-top: 7px;
}

.product-Options li::before {
	content: "\2022";
	font-size: 16px;
	color: #ccc;
	font-weight: bolder;
	display: inline-block;
	width: 1em;
}

#options img {
	width: 40px;
}



@media only screen and (min-width: 320px) and (max-width: 479px) {
	.product-big-image {
		height: 217px;
	}

	.image-thumbnails {
		margin-top: 90px;
	}
}


@media only screen and (min-width: 480px) and (max-width: 575px) {
	.product-big-image {
		height: 317px;
	}

	.image-thumbnails {
		margin-top: 140px;
	}
}